html{
	background-color: #D6DBE8;
}
#header, #tabs, #footer{
    background-color:   #7887AB;
    color:  #fff;
}
#main{
    background-color: #D6DBE8;
}
#tabhead{
    color:  #fff;
}
#tabs > ul > li > a{
    color:  #D6DBE8;
}
#seltab > a{
    color:  #2E4172 !important;
}
a:link{
    color:  #2E4172;
}
input, select{
	color: #2E4172;
}
input:focus{
	border-color: #2E4172 !important;
}
#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}
